{% load crispy_forms_filters %}

<form id="form-setting-data-{{ name }}" action="{{ url }}" method="post" class="form-inline">
    {% csrf_token %}
    {% for field in get_form %}
        {{ field|as_crispy_field }}
    {% endfor %}
    <input type="button" name="add" value="Ajouter" class="btn btn-success my-1 ml-2 mr-2" id="btn-add-data-{{ name }}">
    <input type="button" name="edit" value="Modifier" class="btn btn-primary my-1 mr-2" id="btn-edit-data-{{ name }}">
    <input type="button" name="delete" value="Supprimer" class="btn btn-danger my-1 mr-2"
           id="btn-delete-data-{{ name }}" disabled>
</form>
