<div class="container-fluid">

    {% include 'erp/setting/data/form_setting.html' %}

    <div class="collapse" id="add-data-{{ name }}">
        {% include 'erp/setting/data/form_setting_add.html' %}
    </div>
</div>