{% load crispy_forms_tags %}


<div class="modal fade" id="{{ module }}-modal-update" tabindex="-1" role="dialog" aria-hidden="true">
    <form id="{{ module }}-form-update" method="post" action="#">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier {{ module|capfirst }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% crispy form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-primary" value="Modifier">
                </div>
            </div>
        </div>
    </form>
</div>
