<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Buena Vista</a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <p class="text-white w-75 pt-2">Welcome {{ user.username }}</p>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        {% if user.is_authenticated %}
            <a class="btn nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
        {% else %}
            <a class="btn nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-sign-in-alt"></i> Login</a>
        {% endif %}
        </li>
    </ul>
</nav>
