{% load static %}

<script type="text/javascript" src="{% static 'js/jQuery/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery/toast.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{% static 'js/bootstrap/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/chartjs/chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar/main.js' %}"></script>

<script type="text/javascript" src="{% static 'js/datatable/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/vfs_fonts.js' %}"></script>

<script type="text/javascript" src="{% static 'js/datatable/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/dataTables.bootstrap4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/dataTables.select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/buttons.print.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/erp/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/erp/login.js' %}"></script>
<script type="text/javascript" src="{% static 'js/erp/planning.js' %}"></script>
<script type="text/javascript" src="{% static 'js/erp/chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/erp/setting/data.js' %}"></script>
<script type="text/javascript" src="{% static 'js/erp/setting/graph.js' %}"></script>
<script type="text/javascript" src="{% static 'js/erp/setting/notification.js' %}"></script>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
</script>
